backup_before_git_reset/configs/fcpxml_v3.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <!-- 根元素定义 -->
  <xs:element name="fcpxml">
    <xs:complexType>
      <xs:sequence>
        <!-- 版本信息 -->
        <xs:element name="format_version" type="xs:string" minOccurs="0" maxOccurs="1"/>
        
        <!-- 格式信息 -->
        <xs:element name="format" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="frame_size" type="xs:string" minOccurs="0"/>
              <xs:element name="frame_rate" type="xs:string" minOccurs="0"/>
              <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <!-- 资源定义 -->
        <xs:element name="resources" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="video" type="videoType"/>
              <xs:element name="audio" type="audioType"/>
              <xs:element name="image" type="imageType"/>
              <xs:element name="effect" type="effectResourceType"/>
              <xs:element name="generator" type="xs:string" minOccurs="0"/>
              <xs:element name="copyright" type="xs:string" minOccurs="0"/>
              <xs:element name="disclaimer" type="xs:string" minOccurs="0"/>
              <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        
        <!-- 序列定义 -->
        <xs:element name="sequence" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="spine" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                      <xs:element name="clip" type="clipType"/>
                      <xs:element name="gap" type="gapType"/>
                      <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string"/>
            <xs:attribute name="name" type="xs:string"/>
            <xs:attribute name="duration" type="xs:string"/>
            <xs:attribute name="format" type="xs:string"/>
            <xs:anyAttribute processContents="lax"/>
          </xs:complexType>
        </xs:element>
        
        <!-- 其他可能的元素 -->
        <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string"/>
      <xs:anyAttribute processContents="lax"/>
    </xs:complexType>
  </xs:element>
  
  <!-- 视频资源类型 -->
  <xs:complexType name="videoType">
    <xs:sequence>
      <xs:element name="metadata" type="metadataType" minOccurs="0"/>
      <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="src" type="xs:string" use="required"/>
    <xs:attribute name="duration" type="xs:string"/>
    <xs:attribute name="framerate" type="xs:string"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>
  
  <!-- 音频资源类型 -->
  <xs:complexType name="audioType">
    <xs:sequence>
      <xs:element name="metadata" type="metadataType" minOccurs="0"/>
      <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="src" type="xs:string" use="required"/>
    <xs:attribute name="duration" type="xs:string"/>
    <xs:attribute name="samplerate" type="xs:string"/>
    <xs:attribute name="channels" type="xs:string"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>
  
  <!-- 图像资源类型 -->
  <xs:complexType name="imageType">
    <xs:sequence>
      <xs:element name="metadata" type="metadataType" minOccurs="0"/>
      <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="src" type="xs:string" use="required"/>
    <xs:attribute name="width" type="xs:string"/>
    <xs:attribute name="height" type="xs:string"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>
  
  <!-- 效果资源类型 -->
  <xs:complexType name="effectResourceType">
    <xs:sequence>
      <xs:element name="param" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attribute name="value" type="xs:string" use="required"/>
          <xs:anyAttribute processContents="lax"/>
        </xs:complexType>
      </xs:element>
      <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>
  
  <!-- 元数据类型 -->
  <xs:complexType name="metadataType">
    <xs:sequence>
      <xs:element name="disclaimer" type="xs:string" minOccurs="1"/>
      <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- 片段类型 -->
  <xs:complexType name="clipType">
    <xs:sequence>
      <xs:element name="video" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="filter" type="filterType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="ref" type="xs:string"/>
          <xs:attribute name="offset" type="xs:string"/>
          <xs:anyAttribute processContents="lax"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="audio" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="filter" type="filterType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="ref" type="xs:string"/>
          <xs:attribute name="offset" type="xs:string"/>
          <xs:attribute name="volume" type="xs:string"/>
          <xs:anyAttribute processContents="lax"/>
        </xs:complexType>
      </xs:element>
      <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="ref" type="xs:string"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="start" type="xs:string"/>
    <xs:attribute name="duration" type="xs:string" use="required"/>
    <xs:attribute name="offset" type="xs:string"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>
  
  <!-- 空隙类型 -->
  <xs:complexType name="gapType">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="duration" type="xs:string" use="required"/>
    <xs:attribute name="start" type="xs:string"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>
  
  <!-- 滤镜类型 -->
  <xs:complexType name="filterType">
    <xs:sequence>
      <xs:element name="param" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attribute name="value" type="xs:string" use="required"/>
          <xs:anyAttribute processContents="lax"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="enabled" type="xs:boolean"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>
</xs:schema> 