backup_before_git_reset/configs/premiere_v3.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <!-- 根元素定义 -->
  <xs:element name="project">
    <xs:complexType>
      <xs:sequence>
        <!-- 版本信息 -->
        <xs:element name="version" type="xs:string" minOccurs="1" maxOccurs="1"/>
        
        <!-- Premiere 特有元素 -->
        <xs:element name="premiere" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="app_version" type="xs:string" minOccurs="0"/>
              <xs:element name="platform" type="xs:string" minOccurs="0"/>
              <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <!-- 资源定义 -->
        <xs:element name="resources" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="video" type="videoType"/>
              <xs:element name="audio" type="audioType"/>
              <xs:element name="image" type="imageType"/>
              <xs:element name="sequence" type="sequenceType"/>
              <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        
        <!-- 元数据定义 -->
        <xs:element name="meta" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="generator" type="xs:string" minOccurs="0"/>
              <xs:element name="copyright" type="xs:string" minOccurs="0"/>
              <xs:element name="disclaimer" type="xs:string" minOccurs="1"/>
              <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <!-- 时间线定义 -->
        <xs:element name="timeline" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="track" type="trackType" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string"/>
            <xs:attribute name="duration" type="xs:string"/>
          </xs:complexType>
        </xs:element>
        
        <!-- 其他可能的元素 -->
        <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string"/>
      <xs:anyAttribute processContents="lax"/>
    </xs:complexType>
  </xs:element>
  
  <!-- 视频资源类型 -->
  <xs:complexType name="videoType">
    <xs:sequence>
      <xs:element name="metadata" type="metadataType" minOccurs="0"/>
      <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="path" type="xs:string" use="required"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="duration" type="xs:string"/>
    <xs:attribute name="resolution" type="xs:string"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>
  
  <!-- 音频资源类型 -->
  <xs:complexType name="audioType">
    <xs:sequence>
      <xs:element name="metadata" type="metadataType" minOccurs="0"/>
      <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="path" type="xs:string" use="required"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="duration" type="xs:string"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>
  
  <!-- 图像资源类型 -->
  <xs:complexType name="imageType">
    <xs:sequence>
      <xs:element name="metadata" type="metadataType" minOccurs="0"/>
      <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="path" type="xs:string" use="required"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="resolution" type="xs:string"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>
  
  <!-- 序列资源类型 -->
  <xs:complexType name="sequenceType">
    <xs:sequence>
      <xs:element name="metadata" type="metadataType" minOccurs="0"/>
      <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="duration" type="xs:string"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>
  
  <!-- 元数据类型 -->
  <xs:complexType name="metadataType">
    <xs:sequence>
      <xs:element name="fps" type="xs:string" minOccurs="0"/>
      <xs:element name="codec" type="xs:string" minOccurs="0"/>
      <xs:element name="bitrate" type="xs:string" minOccurs="0"/>
      <xs:element name="created" type="xs:string" minOccurs="0"/>
      <xs:element name="settings" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- 轨道类型 -->
  <xs:complexType name="trackType">
    <xs:sequence>
      <xs:element name="clip" type="clipType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>
  
  <!-- 片段类型 -->
  <xs:complexType name="clipType">
    <xs:sequence>
      <xs:element name="effects" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="effect" type="effectType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="resourceId" type="xs:string" use="required"/>
    <xs:attribute name="start" type="xs:string" use="required"/>
    <xs:attribute name="duration" type="xs:string" use="required"/>
    <xs:attribute name="offset" type="xs:string"/>
    <xs:attribute name="volume" type="xs:string"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>
  
  <!-- 效果类型 -->
  <xs:complexType name="effectType">
    <xs:sequence>
      <xs:element name="parameters" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="intensity" type="xs:string"/>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>
</xs:schema> 