backup_before_git_reset/configs/premiere_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>
      XSD Schema for Premiere Pro XML format (version 1)
      This schema defines the structure for Premiere Pro project XML files.
    </xs:documentation>
  </xs:annotation>
  
  <!-- Root element -->
  <xs:element name="project">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="meta" type="MetaType" minOccurs="0" maxOccurs="1"/>
        <xs:element name="movie" type="MovieType" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <!-- Meta data type -->
  <xs:complexType name="MetaType">
    <xs:sequence>
      <xs:element name="version" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="project_id" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="author" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="created" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
      <xs:element name="modified" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
      <xs:element name="disclaimer" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Movie type -->
  <xs:complexType name="MovieType">
    <xs:sequence>
      <xs:element name="sequence" type="SequenceType" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="bin" type="BinType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Sequence type -->
  <xs:complexType name="SequenceType">
    <xs:sequence>
      <xs:element name="uuid" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="duration" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="rate" type="RateType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="in" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
      <xs:element name="out" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
      <xs:element name="timecode" type="TimecodeType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="media" type="MediaType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="track" type="TrackType" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="marker" type="MarkerType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>
  
  <!-- Rate type -->
  <xs:complexType name="RateType">
    <xs:attribute name="fps" type="xs:decimal" use="required"/>
    <xs:attribute name="ntsc" type="xs:boolean" use="optional"/>
  </xs:complexType>
  
  <!-- Timecode type -->
  <xs:complexType name="TimecodeType">
    <xs:attribute name="format" type="TimecodeFormatEnum" use="required"/>
    <xs:attribute name="frame" type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="displayformat" type="TimecodeDisplayFormatEnum" use="optional"/>
  </xs:complexType>
  
  <!-- Timecode format enumeration -->
  <xs:simpleType name="TimecodeFormatEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DF"/>
      <xs:enumeration value="NDF"/>
      <xs:enumeration value="24"/>
      <xs:enumeration value="PAL"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- Timecode display format enumeration -->
  <xs:simpleType name="TimecodeDisplayFormatEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HH:MM:SS:FF"/>
      <xs:enumeration value="HH;MM;SS;FF"/>
      <xs:enumeration value="Frames"/>
      <xs:enumeration value="Feet+Frames"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- Media type -->
  <xs:complexType name="MediaType">
    <xs:sequence>
      <xs:element name="video" type="VideoSettingsType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="audio" type="AudioSettingsType" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Video settings type -->
  <xs:complexType name="VideoSettingsType">
    <xs:sequence>
      <xs:element name="format" type="VideoFormatType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="samplecharacteristics" type="SampleCharacteristicsType" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Video format type -->
  <xs:complexType name="VideoFormatType">
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>
  
  <!-- Sample characteristics type -->
  <xs:complexType name="SampleCharacteristicsType">
    <xs:sequence>
      <xs:element name="width" type="xs:integer" minOccurs="1" maxOccurs="1"/>
      <xs:element name="height" type="xs:integer" minOccurs="1" maxOccurs="1"/>
      <xs:element name="anamorphic" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="pixelaspectratio" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
      <xs:element name="fielddominance" type="FieldDominanceEnum" minOccurs="0" maxOccurs="1"/>
      <xs:element name="colordepth" type="xs:integer" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Field dominance enumeration -->
  <xs:simpleType name="FieldDominanceEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none"/>
      <xs:enumeration value="upper"/>
      <xs:enumeration value="lower"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- Audio settings type -->
  <xs:complexType name="AudioSettingsType">
    <xs:sequence>
      <xs:element name="samplecharacteristics" type="AudioSampleCharacteristicsType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="channelcount" type="xs:integer" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Audio sample characteristics type -->
  <xs:complexType name="AudioSampleCharacteristicsType">
    <xs:sequence>
      <xs:element name="samplerate" type="xs:integer" minOccurs="1" maxOccurs="1"/>
      <xs:element name="bitdepth" type="xs:integer" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Track type -->
  <xs:complexType name="TrackType">
    <xs:sequence>
      <xs:element name="clipitem" type="ClipItemType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="enabled" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="locked" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
    <xs:attribute name="type" type="TrackTypeEnum" use="required"/>
  </xs:complexType>
  
  <!-- Track type enumeration -->
  <xs:simpleType name="TrackTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="video"/>
      <xs:enumeration value="audio"/>
      <xs:enumeration value="text"/>
      <xs:enumeration value="subtitle"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- Clip item type -->
  <xs:complexType name="ClipItemType">
    <xs:sequence>
      <xs:element name="masterclipid" type="xs:IDREF" minOccurs="0" maxOccurs="1"/>
      <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="enabled" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="duration" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="rate" type="RateType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="start" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
      <xs:element name="end" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
      <xs:element name="in" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
      <xs:element name="out" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
      <xs:element name="file" type="FileType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="effect" type="EffectType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="marker" type="MarkerType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
  </xs:complexType>
  
  <!-- File type -->
  <xs:complexType name="FileType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="pathurl" type="xs:anyURI" minOccurs="1" maxOccurs="1"/>
      <xs:element name="rate" type="RateType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="duration" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="media" type="MediaType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
  </xs:complexType>
  
  <!-- Effect type -->
  <xs:complexType name="EffectType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="effectid" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="effecttype" type="EffectTypeEnum" minOccurs="1" maxOccurs="1"/>
      <xs:element name="parameter" type="ParameterType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Effect type enumeration -->
  <xs:simpleType name="EffectTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="filter"/>
      <xs:enumeration value="motion"/>
      <xs:enumeration value="timewarp"/>
      <xs:enumeration value="transition"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- Parameter type -->
  <xs:complexType name="ParameterType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="value" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="keyframe" type="KeyframeType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Keyframe type -->
  <xs:complexType name="KeyframeType">
    <xs:sequence>
      <xs:element name="time" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="value" type="xs:string" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Marker type -->
  <xs:complexType name="MarkerType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="time" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="comment" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Bin type -->
  <xs:complexType name="BinType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="bin" type="BinType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="clip" type="MasterClipType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Master clip type -->
  <xs:complexType name="MasterClipType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="duration" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="rate" type="RateType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="file" type="FileType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="marker" type="MarkerType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
  </xs:complexType>
</xs:schema> 