configs/jianying_v3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>
      XSD Schema for Jianying XML format (version 3)
      This schema defines the structure for advanced Jianying export files.
      Version 3.0 supports nested sequences, effects layers, multi-track audio and more.
    </xs:documentation>
  </xs:annotation>
  
  <!-- Root element -->
  <xs:element name="jianying_project">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="info" type="InfoType" minOccurs="1" maxOccurs="1"/>
        <xs:element name="resources" type="ResourcesType" minOccurs="1" maxOccurs="1"/>
        <xs:element name="timeline" type="TimelineType" minOccurs="1" maxOccurs="1"/>
        <xs:element name="composition" type="CompositionType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="nested_sequence" type="NestedSequenceType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="effects_library" type="EffectsLibraryType" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required"/>
      <xs:attribute name="compatibility" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  
  <!-- Information section -->
  <xs:complexType name="InfoType">
    <xs:sequence>
      <xs:element name="metadata" type="MetadataType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="project_settings" type="ProjectSettingsType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="advanced_settings" type="AdvancedSettingsType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Advanced Settings type -->
  <xs:complexType name="AdvancedSettingsType">
    <xs:sequence>
      <xs:element name="hdr_settings" type="HDRSettingsType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="color_management" type="ColorManagementType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ai_enhancement" type="AIEnhancementType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="performance" type="PerformanceSettingsType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- HDR Settings type -->
  <xs:complexType name="HDRSettingsType">
    <xs:attribute name="enabled" type="xs:boolean" use="required"/>
    <xs:attribute name="format" type="HDRFormatEnum" use="optional"/>
    <xs:attribute name="peak_brightness" type="xs:integer" use="optional"/>
  </xs:complexType>
  
  <!-- HDR Format enumeration -->
  <xs:simpleType name="HDRFormatEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HDR10"/>
      <xs:enumeration value="HDR10+"/>
      <xs:enumeration value="HLG"/>
      <xs:enumeration value="Dolby Vision"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- Color Management type -->
  <xs:complexType name="ColorManagementType">
    <xs:attribute name="enabled" type="xs:boolean" use="required"/>
    <xs:attribute name="working_space" type="xs:string" use="optional"/>
    <xs:attribute name="output_space" type="xs:string" use="optional"/>
  </xs:complexType>
  
  <!-- AI Enhancement type -->
  <xs:complexType name="AIEnhancementType">
    <xs:attribute name="enabled" type="xs:boolean" use="required"/>
    <xs:attribute name="upscaling" type="xs:boolean" use="optional"/>
    <xs:attribute name="denoising" type="xs:boolean" use="optional"/>
    <xs:attribute name="frame_interpolation" type="xs:boolean" use="optional"/>
  </xs:complexType>
  
  <!-- Performance Settings type -->
  <xs:complexType name="PerformanceSettingsType">
    <xs:attribute name="hardware_acceleration" type="xs:boolean" use="optional"/>
    <xs:attribute name="proxy_resolution" type="xs:string" use="optional"/>
    <xs:attribute name="render_quality" type="xs:string" use="optional"/>
  </xs:complexType>
  
  <!-- Metadata section (extending v2) -->
  <xs:complexType name="MetadataType">
    <xs:sequence>
      <xs:element name="jy_type" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="project_id" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="author" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="created_time" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
      <xs:element name="modified_time" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
      <xs:element name="disclaimer" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="software_version" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="export_date" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
      <xs:element name="app_info" type="AppInfoType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="tags" type="TagsType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="categories" type="CategoriesType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="copyright" type="CopyrightType" minOccurs="0" maxOccurs="1"/>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Tags type -->
  <xs:complexType name="TagsType">
    <xs:sequence>
      <xs:element name="tag" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Categories type -->
  <xs:complexType name="CategoriesType">
    <xs:sequence>
      <xs:element name="category" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Copyright type -->
  <xs:complexType name="CopyrightType">
    <xs:attribute name="owner" type="xs:string" use="required"/>
    <xs:attribute name="year" type="xs:integer" use="required"/>
    <xs:attribute name="license" type="xs:string" use="optional"/>
  </xs:complexType>
  
  <!-- Project settings -->
  <xs:complexType name="ProjectSettingsType">
    <xs:sequence>
      <xs:element name="resolution" type="ResolutionType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="frame_rate" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
      <xs:element name="duration" type="xs:duration" minOccurs="0" maxOccurs="1"/>
      <xs:element name="color_space" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="aspect_ratio" type="AspectRatioType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="audio_settings" type="AudioSettingsType" minOccurs="0" maxOccurs="1"/>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Audio Settings type -->
  <xs:complexType name="AudioSettingsType">
    <xs:attribute name="sample_rate" type="xs:integer" use="required"/>
    <xs:attribute name="bit_depth" type="xs:integer" use="optional"/>
    <xs:attribute name="channels" type="xs:integer" use="required"/>
    <xs:attribute name="surround_sound" type="xs:boolean" use="optional"/>
  </xs:complexType>
  
  <!-- Resolution type -->
  <xs:complexType name="ResolutionType">
    <xs:attribute name="width" type="xs:integer" use="required"/>
    <xs:attribute name="height" type="xs:integer" use="required"/>
  </xs:complexType>
  
  <!-- Aspect Ratio type -->
  <xs:complexType name="AspectRatioType">
    <xs:attribute name="horizontal" type="xs:integer" use="required"/>
    <xs:attribute name="vertical" type="xs:integer" use="required"/>
  </xs:complexType>
  
  <!-- Resources section -->
  <xs:complexType name="ResourcesType">
    <xs:sequence>
      <xs:element name="asset" type="AssetType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="folder" type="FolderType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="collection" type="CollectionType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="effect_preset" type="EffectPresetType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="lut" type="LUTType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Asset type -->
  <xs:complexType name="AssetType">
    <xs:sequence>
      <xs:element name="file" type="FileType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="metadata" type="AssetMetadataType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="marker" type="MarkerType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="proxy" type="ProxyType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="type" type="AssetTypeEnum" use="required"/>
    <xs:attribute name="proxy_available" type="xs:boolean" use="optional" default="false"/>
    <xs:attribute name="hdr" type="xs:boolean" use="optional" default="false"/>
  </xs:complexType>
  
  <!-- Proxy type -->
  <xs:complexType name="ProxyType">
    <xs:attribute name="path" type="xs:string" use="required"/>
    <xs:attribute name="resolution" type="xs:string" use="optional"/>
    <xs:attribute name="generated" type="xs:boolean" use="optional"/>
  </xs:complexType>
  
  <!-- LUT type -->
  <xs:complexType name="LUTType">
    <xs:attribute name="id" type="xs:ID" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="path" type="xs:string" use="required"/>
    <xs:attribute name="format" type="xs:string" use="optional"/>
  </xs:complexType>
  
  <!-- Timeline section -->
  <xs:complexType name="TimelineType">
    <xs:sequence>
      <xs:element name="track" type="TrackType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="subtitle_track" type="SubtitleTrackType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="effects_track" type="EffectsTrackType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="marker" type="MarkerType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
    <xs:attribute name="name" type="xs:string" use="optional"/>
    <xs:attribute name="duration" type="xs:duration" use="required"/>
    <xs:attribute name="timecode_start" type="xs:string" use="optional"/>
  </xs:complexType>
  
  <!-- Effects Track type -->
  <xs:complexType name="EffectsTrackType">
    <xs:sequence>
      <xs:element name="effect" type="EffectType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
    <xs:attribute name="name" type="xs:string" use="optional"/>
    <xs:attribute name="locked" type="xs:boolean" use="optional" default="false"/>
    <xs:attribute name="enabled" type="xs:boolean" use="optional" default="true"/>
  </xs:complexType>
  
  <!-- Advanced Effect type -->
  <xs:complexType name="EffectType">
    <xs:sequence>
      <xs:element name="parameter" type="ParameterType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="nested_effect" type="EffectType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="mask" type="MaskType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="name" type="xs:string" use="optional"/>
    <xs:attribute name="start" type="xs:duration" use="optional"/>
    <xs:attribute name="duration" type="xs:duration" use="optional"/>
    <xs:attribute name="enabled" type="xs:boolean" use="optional" default="true"/>
    <xs:attribute name="preset_id" type="xs:IDREF" use="optional"/>
    <xs:attribute name="blend_mode" type="BlendModeEnum" use="optional"/>
    <xs:attribute name="opacity" type="xs:decimal" use="optional" default="1.0"/>
  </xs:complexType>
  
  <!-- Blend Mode enumeration -->
  <xs:simpleType name="BlendModeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="normal"/>
      <xs:enumeration value="multiply"/>
      <xs:enumeration value="screen"/>
      <xs:enumeration value="overlay"/>
      <xs:enumeration value="darken"/>
      <xs:enumeration value="lighten"/>
      <xs:enumeration value="color-dodge"/>
      <xs:enumeration value="color-burn"/>
      <xs:enumeration value="hard-light"/>
      <xs:enumeration value="soft-light"/>
      <xs:enumeration value="difference"/>
      <xs:enumeration value="exclusion"/>
      <xs:enumeration value="hue"/>
      <xs:enumeration value="saturation"/>
      <xs:enumeration value="color"/>
      <xs:enumeration value="luminosity"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- Mask type -->
  <xs:complexType name="MaskType">
    <xs:sequence>
      <xs:element name="point" type="PointType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="keyframe" type="MaskKeyframeType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
    <xs:attribute name="type" type="MaskTypeEnum" use="required"/>
    <xs:attribute name="inverted" type="xs:boolean" use="optional" default="false"/>
    <xs:attribute name="feather" type="xs:decimal" use="optional" default="0"/>
    <xs:attribute name="opacity" type="xs:decimal" use="optional" default="1.0"/>
  </xs:complexType>
  
  <!-- Mask Type enumeration -->
  <xs:simpleType name="MaskTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="rectangle"/>
      <xs:enumeration value="ellipse"/>
      <xs:enumeration value="polygon"/>
      <xs:enumeration value="bezier"/>
      <xs:enumeration value="freehand"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- Point type -->
  <xs:complexType name="PointType">
    <xs:attribute name="x" type="xs:decimal" use="required"/>
    <xs:attribute name="y" type="xs:decimal" use="required"/>
    <xs:attribute name="handle_left_x" type="xs:decimal" use="optional"/>
    <xs:attribute name="handle_left_y" type="xs:decimal" use="optional"/>
    <xs:attribute name="handle_right_x" type="xs:decimal" use="optional"/>
    <xs:attribute name="handle_right_y" type="xs:decimal" use="optional"/>
  </xs:complexType>
  
  <!-- Mask Keyframe type -->
  <xs:complexType name="MaskKeyframeType">
    <xs:sequence>
      <xs:element name="point" type="PointType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="time" type="xs:duration" use="required"/>
    <xs:attribute name="interpolation" type="InterpolationEnum" use="optional" default="linear"/>
  </xs:complexType>
  
  <!-- Effect Preset type -->
  <xs:complexType name="EffectPresetType">
    <xs:sequence>
      <xs:element name="parameter" type="ParameterType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="category" type="xs:string" use="optional"/>
  </xs:complexType>
  
  <!-- Nested Sequence type -->
  <xs:complexType name="NestedSequenceType">
    <xs:sequence>
      <xs:element name="track" type="TrackType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="subtitle_track" type="SubtitleTrackType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="effects_track" type="EffectsTrackType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="marker" type="MarkerType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="duration" type="xs:duration" use="required"/>
  </xs:complexType>
  
  <!-- Effects Library type -->
  <xs:complexType name="EffectsLibraryType">
    <xs:sequence>
      <xs:element name="effect_preset" type="EffectPresetType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="transition_preset" type="TransitionPresetType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Transition Preset type -->
  <xs:complexType name="TransitionPresetType">
    <xs:sequence>
      <xs:element name="parameter" type="ParameterType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="category" type="xs:string" use="optional"/>
    <xs:attribute name="duration" type="xs:duration" use="optional"/>
  </xs:complexType>
  
  <!-- Composition type for reused elements -->
  <xs:complexType name="CompositionType">
    <xs:sequence>
      <xs:element name="track" type="TrackType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="effects_track" type="EffectsTrackType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="subtitle_track" type="SubtitleTrackType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="marker" type="MarkerType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="duration" type="xs:duration" use="required"/>
    <xs:attribute name="template" type="xs:boolean" use="optional" default="false"/>
  </xs:complexType>
  
  <!-- Interpolation type enumeration -->
  <xs:simpleType name="InterpolationEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="linear"/>
      <xs:enumeration value="bezier"/>
      <xs:enumeration value="ease-in"/>
      <xs:enumeration value="ease-out"/>
      <xs:enumeration value="ease-in-out"/>
      <xs:enumeration value="step"/>
      <xs:enumeration value="cubic"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema> 